body {background-color: #f7f7f7;}
p {color: #003b37}
a {color: #018077}
h1, h2, h3, h4 {color: #1c3c3a}
a:hover {color:#003b37}
.evenrow {background-color: #cae3e1}
nav {background-color: #cae3e1; padding:10px}
nav a {color:#003b37}
nav a:hover {background-color: #46a39d;}
nav {margin-bottom: 30px;}
li {color:#003b37}

.other h2{color:#ffffff}

.a {float: right;}
.clouds{
    max-width: 100%;
}

.contact1 {display: flex;
    margin: 0px 0px 30px 0px; 
    padding: 3px; 
    background-color: #c4c4c4; 
    border-radius: .5em;}
.addy {flex: 1;
    padding: 10px;}
.email {flex: 1;}
.contact2 {display: flex;
    padding: 3px;
    background-color: #c4c4c4;
    border-radius: .5em;
    flex-wrap: wrap;
}    
.box {flex: 1}
.map {flex: 1;
    padding: 10px;}

h1 {text-align: center;}
.blurb {text-align: center;}
.logos{
    display: flex;
    flex: 75%;
    padding: 20px;
    justify-content: space-between;
    text-align: center;
    flex-wrap:wrap;
}
.other {
    flex: 25%;
    background-color: #c4c4c4;
    border-radius: .5em;
    padding: 10px;
}
.rawr{
    display: flex;
    justify-content: space-between;
    margin: 30px 30px 30px 30px;
    flex-wrap:wrap;
}

@media only screen and (max-width:500px){
    nav a{max-width: 100%;
        display: block;
        padding: 10px;
    }
    nav span{
        display: none;
    }
}

.skip{
    background-color: #58a9c7;
    padding: 5px;
    border: 1px solid #000000;
    text-decoration: none;
    border-radius: 8px;

    position: absolute; /*positions an element relative to the top left of the viewport*/
    top: 10px;
    left:-999px; /*pushes it off the left side of the screen*/
}

.skip:focus {
    left: 10px; /*brings it back when its been tabbed to*/
}

.fix{
    color:#003b37
}
.omg{
    color:#003b37
}